* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Background */
.main_box {
    background: url("C:\\Users\\kajal kumari\\Downloads\\photo2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.btn_one i {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    font-weight: 700;
    transition:all o.3s linear;
}
.sidebar_menu {
    position: fixed;
   /* left: -300px; /* hidden */
    height: 100vh;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
    transition: all 0.3s linear;
    position: fixed;
    height: 100vh;
    left: -300px;
}
.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255,255,255,0.5);
    top: 30px;
    left: 0%;
}

.sidebar_menu .logo a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.btn_two i {
    color: grey;
    font-size: 25px;
    position: absolute;
    left: 275px;
    cursor: pointer;
    line-height: 60px;
    opacity: 0;
}
.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.sidebar_menu .menu a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
.sidebar_menu .menu li:hover {
    background: rgba(255,255,255,0.2);
}
#check {
    display: none;
}

#check:checked ~ .sidebar_menu {
    left: 0;
}
 #check:checked ~ .sidebar_menu .btn_two i{
    opacity:1;
 }
 body {
    background-color: black;
 }